{% extends 'base.html' %}

{% block content %}
  <h2>Category</h2>
  
  <form method="post" name="Category Form">
    {% csrf_token %}
    {{ category_form }}
    {{ category_form.errors }}
    {{ category_form.non_field_errors }}
    <input type="submit" name='category' value="!" />
   <!--<button type="submit" name="category">Next</button>-->
  </form>

  <form method="post" name="Choices Form">
    {% csrf_token %}
    {{ choices_form.as_p }}
    <button type="submit" name="choices">Next</button>
  </form>


  <a class="nav-link" href="/user_list">Main Page</a>

{% endblock %}