{% extends 'projectl/authenticated_base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Project L: Analytics</h1>
        <div style="height:10px"></div>
        <p>Select a Category, Object, and Attribute to understand the breakdown of users who have added it to the relevant object to their top list below.</p>
        <div style="height:20px"></div>

        <h3>Field selection</h3>
        <div style="height:10px"></div>
        <form action="{% url 'analytics_main' %}" method="post"  class="form">
          {% csrf_token %}
          <div class="form-group row">
            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
              {{ form.category }}
            </div>
          </div>
          <div class="form-group row">
            <label for="inputObject" class="col-sm-2 col-form-label">Object</label>
            <div class="col-sm-10">
              {{ form.object }}
            </div>
          </div>
          <div class="form-group row">
            <label for="inputAttribute" class="col-sm-2 col-form-label">Attribute</label>
            <div class="col-sm-10">
              {{ form.attribute }}
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Get analytics</button>
            </div>
          </div>
        </form>

        <div style="height:20px"></div>
        <hr>
        <h3><b>{{selected_object}}</b>: Breakdown by <b>{{selected_attribute}}</b></h3>
        <div style="height:10px"></div>

        <canvas id="myChart" height="100"></canvas>
        <script>
          var ctx = document.getElementById("myChart");

          var data = {
              labels: [
                {% for attr,value in attribute_array.items %}
                  "{{ attr }}",
                {% endfor %}
              ],
              datasets: [
                  {
                      data: [
                              {% for attr,value in attribute_array.items %}
                                {{ value }},
                              {% endfor %}
                            ],
                      backgroundColor: [
                          "#FF6384",
                          "#36A2EB",
                          "#FFCE56"
                      ],
                      hoverBackgroundColor: [
                          "#FF6384",
                          "#36A2EB",
                          "#FFCE56"
                      ]
                  }]
          };

          var myPieChart = new Chart(ctx,{
            type: 'pie',
            data: data,
            options: {
              legend: {
                position: 'right'
              }
            }
          });
          </script>
      </div>
    </div>


  </div>

{% endblock %}
