{% extends 'projectl/authenticated_base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello, <b> {{ request.user.first_name }}</b>.</h1>
        {% if not answered_categories %}
          <h3>Get started by filling in some of the categories below:</h3>
        {% elif unanswered_categories %}
          <h3>Fancy discovering more things you like? Fill in another category from below:</h3>
        {% else %}
          <h3>Well done you, you've filled in all our categories! Keep checking back for more categories in the future, and for new recommendations.</h3>
        {% endif %}
      </div>
    </div>

    <div style="height:20px"></div>

    <div class="row">

      <!-- Category list -->
      <div class="col-2">
    		{% include 'lists/nav_list.html' with all_categories=all_categories active_nav=active_nav %}
      </div>

      <!-- User Choices -->
      <div class="col-5">
        <h4>Answered categories:</h4>
          {% if not answered_categories %}
          <div class="alert alert-warning" role="alert">
            <strong>Nada!</strong> Fill in some categories below!
          </div>
          {% endif %}
        <!-- Generic category titles -->
        {% for category in answered_categories %}
        <div class="card" style="cursor: pointer;" onclick="window.location='/categories/{{category.nav_url_slug}}';">
          <img class="card-img-top img-fluid" src="{% static category.image.url %}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" >{{ category.name }}</h4>
            <p class="card-text">{{ category.description }}</p>
          </div>
        </div>
        <div style="height: 20px"></div>
        {% endfor %}
      </div>

      <div class="col-5">
        <h4>Unanswered categories:</h4>
        {% for category in unanswered_categories %}
        <div class="card" style="cursor: pointer;" onclick="window.location='/categories/{{category.nav_url_slug}}';">
          <img class="card-img-top img-fluid" src="{% static category.image.url %}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{ category.name }}</h4>
            <p class="card-text">{{ category.description }}</p>
          </div>
        </div>
        <div style="height: 20px"></div>
        {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}
