{% block extra_js%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal" 
href="{% url 'edit' category=list.category.name %}"> 
  Edit 
</button>

<div class="modal fade" id="modal">
  {% include "lists/edit_list.html" %}
</div>

<script>
  $('#modal').on('hidden.bs.modal', function () {
    location.reload();
  })

  $('#modal').on('show.bs.modal', function (event) {
    var modal = $(this)
    $.ajax({
      url: "{% url 'edit' category=list.category.name %}",
      context: document.body
    }).done(function(response) {
      modal.html(response);
    });
  })
</script>