{% extends 'projectl/base.html' %}

{% load staticfiles %}

{% block content %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/categories/all">Project L</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/categories/all">{{ user.first_name }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </nav>

  <div style="height:50px"></div>

  <div class="jumbotron jumbotron-fluid default-background">
    <div class="container">
      <h1 class="display-1">Project L</h1>
      <div style="height:10px"></div>
      <h2>Discover more things to like.</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello, <b> {{ request.user.first_name }}</b>.</h1>
        <h3>Here are your favourite things:</h3>
      </div>
    </div>

    <div style="height:20px"></div>

    <div class="row">

      <!-- Category list -->
      <div class="col-2">
        {% include 'lists/nav_list.html' with all_categories=all_categories active_nav=active_nav %}
      </div>

      <!-- User Choices -->
      <div class="col-5">

        <!-- User-answered category-->
          <div class="card">
            <img class="card-img-top img-fluid" src="{% static list_category.image.url %}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ list_category.name }}</h4>
              <p class="card-text">{{ list_category.description }}</p>
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal{{list_category.pk}}"
              href="{% url 'edit' list_category.pk %}">
                Update favourite {{ category.name|lower }}
              </button>
            </div>

            <ul class="list-group list-group-flush">
              {% for choice in user_choices %}
                <li class="list-group-item">
                  {% if choice.object.name %}
                  <a href="{{ choice.object.url }}" {% if choice.object.url %}target="_blank"{% endif %}>{{ forloop.counter }}. {{ choice.object.name }}</a>
                  {% else %}
                  &nbsp;
                  {% endif %}
                  <span class="hide-button">
                    <a data-toggle="modal" data-target="#modal{{choice.category.pk}}" href="{% url 'edit' choice.category.pk %}"><i class="fa fa-pencil" aria-hidden="true" style="padding-left:20px"></i></a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="modal fade" id="modal{{list_category.pk}}">
            {% include 'lists/edit.html' %}
          </div>

          <script>
            $('#modal{{list_category.pk}}').on('hidden.bs.modal', function () {
              location.reload();
            })

            $('#modal{{list_category.pk}}').on('show.bs.modal', function (event) {
              var modal = $(this)
              $.ajax({
                url: "{% url 'edit' list_category.pk %}",
                context: document.body
              }).done(function(response) {
                modal.html(response);
              });
            })
          </script>


        <!-- Unanswered categories -->
        {% for category in unanswered_categories %}
          <div class="card">
            <img class="card-img-top img-fluid" src="{% static category.image.url %}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ category.name}}</h4>
              <p class="card-text">{{ category.description }}</p>
              <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#modal{{category.pk}}"
              href="{% url 'edit' category.pk %}">
                Fill in favourite {{ category.name|lower }}
              </button>
            </div>
            <ul class="list-group list-group-flush">
              <p class="list-group-item list-group-item-action">1. -- </p>
              <p class="list-group-item list-group-item-action">2. -- </p>
              <p class="list-group-item list-group-item-action">3. -- </p>
              <p class="list-group-item list-group-item-action">4. -- </p>
              <p class="list-group-item list-group-item-action">5. -- </p>
            </ul>
          </div>

          <div class="modal fade" id="modal{{category.pk}}">
            {% include 'lists/edit.html' %}
          </div>

          <script>
            $('#modal{{category.pk}}').on('hidden.bs.modal', function () {
              location.reload();
            })

            $('#modal{{category.pk}}').on('show.bs.modal', function (event) {
              var modal = $(this)
              $.ajax({
                url: "{% url 'edit' category.pk %}",
                context: document.body
              }).done(function(response) {
                modal.html(response);
              });
            })
          </script>

        {% endfor %}

        {% if user_likes.count > 0 %}
          <div style="height:20px"></div>
          <div class="card">
            <h4 class="card-header">Other {{ list_category.name }} you like:</h4>
            <ul class="list-group list-group-flush">
              {% for like in user_likes %}
                <li class="list-group-item list-group-item-action">
                  <a href="{{ like.object.url }}" {% if like.object.url  %}target="_blank"{% endif %}>{{ like.object.name }}</a>
                  <span class="hide-button">
                    <a href="/add_dislike/{{ like.object.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                    <a href="/add_discard/{{ like.object.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
                  </span>
                </li>
              {% endfor %}
           </ul>
          </div>
        {% endif %}

        {% if user_dislikes.count > 0 %}
          <div style="height:20px"></div>
          <div class="card">
            <h4 class="card-header">{{ list_category.name }} you dislike:</h4>
            <ul class="list-group list-group-flush">
              {% for dislike in user_dislikes %}
                <li class="list-group-item list-group-item-action">
                  <a href="{{ dislike.object.url }}" {% if dislike.object.url  %}target="_blank"{% endif %}>{{ dislike.object.name }}</a>
                  <span class="hide-button">
                    <a href="/add_like/{{ dislike.object.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                    <a href="/add_discard/{{ dislike.object.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
                  </span>
                </li>
              {% endfor %}
           </ul>
          </div>
        {% endif %}


      </div>

      <!-- Suggestions -->
      <div class="col-5">
      {% if user_recommendations.count > 0 %}
        {% for recommendation in user_recommendations %}
          <h4>Recommendations for {{ recommendation.category.name }}:</h4>
          <ul class="list-group list-group-flush">

            {% if recommendation.recommendation_1.name %}
            <li class="list-group-item list-group-item-action">
              <b><a href="{{ recommendation.recommendation_1.url }}" {% if recommendation.recommendation_1.url  %}target="_blank"{% endif %}>1. {{ recommendation.recommendation_1.name }}</a></b>
              <span class="hide-button">
                <a href="/add_like/{{ recommendation.recommendation_1.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                <a href="/add_dislike/{{ recommendation.recommendation_1.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                <a href="/add_discard/{{ recommendation.recommendation_1.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
              </span>
              <img class="img-fluid" src="{% static recommendation.recommendation_1.image.url %}" style="padding-top:10px" href="{{ recommendation.recommendation_1.url }}" {% if recommendation.recommendation_1.url  %}target="_blank"{% endif %}>
            </li>
            {% endif %}

            {% if recommendation.recommendation_2.name %}
            <li class="list-group-item list-group-item-action">
              <b><a href="{{ recommendation.recommendation_2.url }}" {% if recommendation.recommendation_2.url  %}target="_blank"{% endif %}>2. {{ recommendation.recommendation_2.name }}</a></b>
              <span class="hide-button">
                <a href="/add_like/{{ recommendation.recommendation_2.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                <a href="/add_dislike/{{ recommendation.recommendation_2.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                <a href="/add_discard/{{ recommendation.recommendation_2.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
              </span>
              <img class="img-fluid" src="{% static recommendation.recommendation_2.image.url %}" style="padding-top:10px">
            {% endif %}

            {% if recommendation.recommendation_3.name %}
            <li class="list-group-item list-group-item-action">
              <b><a href="{{ recommendation.recommendation_3.url }}" {% if recommendation.recommendation_3.url  %}target="_blank"{% endif %}>3. {{ recommendation.recommendation_3.name }}</a></b>
              <span class="hide-button">
                <a href="/add_like/{{ recommendation.recommendation_3.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                <a href="/add_dislike/{{ recommendation.recommendation_3.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                <a href="/add_discard/{{ recommendation.recommendation_3.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
              </span>
              <img class="img-fluid" src="{% static recommendation.recommendation_3.image.url %}" style="padding-top:10px">
            {% endif %}

            {% if recommendation.recommendation_4.name %}
            <li class="list-group-item list-group-item-action">
              <b><a href="{{ recommendation.recommendation_4.url }}" {% if recommendation.recommendation_4.url  %}target="_blank"{% endif %}>4. {{ recommendation.recommendation_4.name }}</a></b>
              <span class="hide-button">
                <a href="/add_like/{{ recommendation.recommendation_4.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                <a href="/add_dislike/{{ recommendation.recommendation_4.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                <a href="/add_discard/{{ recommendation.recommendation_4.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
              </span>
              <img class="img-fluid" src="{% static recommendation.recommendation_4.image.url %}" style="padding-top:10px">
            {% endif %}

            {% if recommendation.recommendation_5.name %}
            <li class="list-group-item list-group-item-action">
              <b><a href="{{ recommendation.recommendation_5.url }}" {% if recommendation.recommendation_5.url  %}target="_blank"{% endif %}>5. {{ recommendation.recommendation_5.name }}</a></b>
              <span class="hide-button">
                <a href="/add_like/{{ recommendation.recommendation_5.pk }}"><i class="fa fa-thumbs-up" aria-hidden="true" style="padding-left:20px"></i></a>
                <a href="/add_dislike/{{ recommendation.recommendation_5.pk }}"><i class="fa fa-thumbs-down" aria-hidden="true" style="padding-left:10px"></i></a>
                <a href="/add_discard/{{ recommendation.recommendation_5.pk }}"><i class="fa fa-times" aria-hidden="true" style="padding-left:10px"></i></a>
              </span>
              <img class="img-fluid" src="{% static recommendation.recommendation_5.image.url %}" style="padding-top:10px">
            {% endif %}
          </ul>

          <a class="btn btn-primary btn-block" href="/refresh_recommender/{{ list_category.pk }}">
            Refresh Recommendations
          </a>

        {% endfor %}
      {% else %}
        <div class="alert alert-warning" role="alert">
          <strong>We need to know you better first!</strong> Tell us what you like and we'll give you some recommendations.
        </div>
      {% endif %}
      </div>
    </div>
  </div>

  <div style="height:100px"></div>

{% endblock %}
