{% extends 'projectl/base.html' %}

{% load staticfiles %}

{% block content %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/user_list">Project L</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/user_list">{{ user.first_name }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </nav>

  <div style="height:50px"></div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Project L</h1>
      <p class="lead">Discover more things to like.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Hello, <b> {{ request.user.first_name }}</b>.</h1>
        <h3>Here are your favourite things:</h3>
      </div>
    </div>

    <div style="height:20px"></div>

    <div class="row">

      <!-- Category list -->
      <div class="col-2">
        {% include 'lists/nav_list.html' with all_categories=all_categories active_nav=active_nav %}
      </div>

      <!-- User Choices -->
      <div class="col-5">

        <!-- User-answered categories -->
        {% for list in user_choices %}

          <div class="card">
            <img class="card-img-top img-fluid" src="{% static list.category.image.url %}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ list.category.name }}</h4>
              <p class="card-text">{{ list.category.description }}</p>
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal{{list.category.pk}}"
              href="{% url 'edit' list.category.pk %}">
                Update favourite {{ list.category.name|lower }}
              </button>
            </div>
            <ul class="list-group list-group-flush">
              <a href="{{ list.choice_1.url }}" {% if list.choice_1.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">1. {{ list.choice_1.name }}</a>
              <a href="{{ list.choice_2.url }}" {% if list.choice_2.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">2. {{ list.choice_2.name }}</a>
              <a href="{{ list.choice_3.url }}" {% if list.choice_3.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">3. {{ list.choice_3.name }}</a>
              <a href="{{ list.choice_4.url }}" {% if list.choice_4.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">4. {{ list.choice_4.name }}</a>
              <a href="{{ list.choice_5.url }}" {% if list.choice_5.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">5. {{ list.choice_5.name }}</a>
            </ul>
          </div>

          <div class="modal fade" id="modal{{list.category.pk}}">
            {% include 'lists/edit.html' %}
          </div>

          <script>
            $('#modal{{list.category.pk}}').on('hidden.bs.modal', function () {
              location.reload();
            })

            $('#modal{{list.category.pk}}').on('show.bs.modal', function (event) {
              var modal = $(this)
              $.ajax({
                url: "{% url 'edit' list.category.pk %}",
                context: document.body
              }).done(function(response) {
                modal.html(response);
              });
            })
          </script>

        {% endfor %}

        <!-- Unanswered categories -->
        {% for category in unanswered_categories %}
          <div class="card">
            <img class="card-img-top img-fluid" src="{% static category.image.url %}" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ category.name}}</h4>
              <p class="card-text">{{ category.description }}</p>
              <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#modal{{category.pk}}"
              href="{% url 'edit' category.pk %}">
                Fill in favourite {{ category.name|lower }}
              </button>
            </div>
            <ul class="list-group list-group-flush">
              <p class="list-group-item list-group-item-action">1. -- </p>
              <p class="list-group-item list-group-item-action">2. -- </p>
              <p class="list-group-item list-group-item-action">3. -- </p>
              <p class="list-group-item list-group-item-action">4. -- </p>
              <p class="list-group-item list-group-item-action">5. -- </p>
            </ul>
          </div>

          <div class="modal fade" id="modal{{category.pk}}">
            {% include 'lists/edit.html' %}
          </div>

          <script>
            $('#modal{{category.pk}}').on('hidden.bs.modal', function () {
              location.reload();
            })

            $('#modal{{category.pk}}').on('show.bs.modal', function (event) {
              var modal = $(this)
              $.ajax({
                url: "{% url 'edit' category.pk %}",
                context: document.body
              }).done(function(response) {
                modal.html(response);
              });
            })
          </script>

        {% endfor %}
      </div>

      <!-- Suggestions -->
      {% for recommendation in user_recommendations %}

      <div class="col-5">
        <h4>Recommendations for {{ recommendation.category.name }}:</h4>
        <ul class="list-group list-group-flush">
          <a href="{{ recommendation.recommendation_1.url }}" {% if recommendation.recommendation_1.url  %}target="_blank"{% endif %} class="list-group-item list-group-item-action">1. {{ recommendation.recommendation_1.name }}</a>
          <a href="{{ recommendation.recommendation_2.url }}" {% if recommendation.recommendation_2.url  %}target="_blank"{% endif %} class="list-group-item list-group-item-action">2. {{ recommendation.recommendation_2.name }}</a>
          <a href="{{ recommendation.recommendation_3.url }}" {% if recommendation.recommendation_3.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">3. {{ recommendation.recommendation_3.name }}</a>
          <a href="{{ recommendation.recommendation_4.url }}" {% if recommendation.recommendation_4.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">4. {{ recommendation.recommendation_4.name }}</a>
          <a href="{{ recommendation.recommendation_5.url }}" {% if recommendation.recommendation_5.url %}target="_blank"{% endif %} class="list-group-item list-group-item-action">5. {{ recommendation.recommendation_5.name }}</a>
        </ul>
      </div>

      {% endfor %}

    </div>
  </div>

{% endblock %}
