{% extends 'projectl/authenticated_base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row" id="mainbody">
    <div class="col-md-12">
      <h1><b>{{user.first_name}}'s</b> favourite things</h1>
    </div>
  </div>

  <div style="height:50px"></div>

  <div class="row">
    {% for category,choices in categories_and_choices.items %}
    <div class="col-md-3">
      <div class="card" style="cursor: pointer;" onclick="window.location='/categories/{{category.nav_url_slug}}';">
        <img class="card-img-top img-fluid" src="{% static category.image.url %}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{ category.name }}</h4>
        </div>

        <ul class="list-group list-group-flush">
          {% for choice in choices %}
            <li class="list-group-item">
              <a href="{{ choice.object.url }}" {% if choice.object.url %}target="_blank"{% endif %}>{{ forloop.counter }}. {{ choice.object.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div style="height: 20px"></div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
