{% load staticfiles %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/projectl.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'dal/select2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dal/vendor/select2/dist/css/select2.css' %}" />

    <script type="text/javascript" src="{% static 'dal/jquery.init.js' %}"></script> 

    <script type="text/javascript" src="{% static 'dal/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'dal/select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'dal/vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'dal/forward.js' %}"></script>

   <!-- <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script> -->

    {{ form.media }}

<title>Project L</title>
</head>
<body>

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <div class="container">
      <span class="text-muted">&copy Project L</span>
    </div>
  </footer>

</body>


</html>
