{% extends 'projectl/base.html' %}

{% block content %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Project L</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social:begin' 'facebook' %}">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="height:50px"></div>

  <div class="jumbotron jumbotron-fluid home-background">
    <div class="container">
      <h1 class="display-1">Project L</h1>
      <div style="height:10px"></div>
      <h2>Discover more things to like.</h2>
      <hr class="my-4">
      <p>Tell us your 5 favourite things for any category and we'll suggest other things you'll probably like.</p>
      <p>Powered by A.I.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'facebook' %}" role="button">Get started now!</a>
      </p>
    </div>
  </div>

{% endblock %}
