{% extends 'projectl/base.html' %}

{% block content %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Project L</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social:begin' 'facebook' %}">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="height:50px"></div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Project L</h1>
      <p class="lead">Discover more things to like.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Home Page</p>
      </div>
    </div>

    </div>

{% endblock %}
